**EXPIREMENT 1**

In [ ]:
import pandas as pd

In [ ]:

# create a simple list
a = [1, 7, 2]
# create series from a list
my_Series = pd.Series(a)
print(my_Series)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
# a simple dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
# create series from dictionary
my_Series = pd.Series(calories)
print(my_Series)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
# Initialize data to a series.
d = pd.Series([10, 20, 30, 40])
# creates Dataframe.
df = pd.DataFrame(d)
# print the data.
print(df)

    0
0  10
1  20
2  30
3  40

In [ ]:
import pandas as pd
# initialize the data of lists.
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [20, 21, 19, 18]}
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

     Name  Age
0   Ahmad   20
1     Ali   21
2    Omar   19
3  Hamzah   18

In [ ]:
import pandas as pd
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45